<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions"
      xmlns:jsf="http://xmlns.jcp.org/jsf"
      xmlns:pf="http://primefaces.org/ui">

    <!--@elvariable id="note" type="io.statastic.notes.model.Note"-->
    <div class="notes-card">
        <div class="notes-card-title">
            <c:choose>
                <c:when test="#{note.isLink()}">
                    <h:outputLink value="#{note.title}">
                        <h:outputText value="#{note.title}"/>
                    </h:outputLink>
                </c:when>
                <c:otherwise>
                    <h:outputText value="#{note.title}"/>
                </c:otherwise>
            </c:choose>
        </div>
        <div  style="flex: 10 0 1px;  padding-left: 5px; scroll-padding-right: 5px; white-space: pre-wrap;">
            <h:outputText value="#{note.textBody}"/>
        </div>
        <div class="notes-card-footer">
            <div style="display: flex; flex-direction: row;">
                <c:forEach var="tag" items="#{note.tags}">
                    <pf:chip label="#{tag.tag}" removable="false">
                    </pf:chip>
                </c:forEach>
                <div style="flex: 10 10 100%">
                </div>
                <div>
                    <h:outputText value="#{note.created}">
                    </h:outputText>
                </div>
                <c:if test="${overview.hasWritePermission()}">
                    <pf:commandButton icon="pi pi-pencil" action="#{overview.edit(note.id)}" class="flex ui-priority-primary"/>
                    <pf:commandButton icon="pi pi-times" action="#{overview.delete(note.id)}">
                        <pf:confirm header="Confirmation" message="Are you sure?" icon="pi pi-exclamation-triangle" />
                    </pf:commandButton>
                </c:if>
            </div>
        </div>
    </div>

</html>