<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions"
      xmlns:jsf="http://xmlns.jcp.org/jsf"
      xmlns:pf="http://primefaces.org/ui">
<h:form>
    <div class="notes-card">
        <!--@elvariable id="editedNote" type="io.statastic.notes.frontend.EditedNote"-->
        <pf:inputTextarea value="#{editedNote.text}" style="flex: 10 10 100px;"/>
        <div class="notes-card-footer" style="display: flex; flex-direction: row">
            <pf:chips value="#{editedNote.tags}" style="flex: 10 10 100px;">
            </pf:chips>
            <pf:commandButton icon="pi pi-check" action="#{overview.save}" style="flex: 0 0 30px;"/>
        </div>
    </div>
</h:form>
</html>

