<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions"
      xmlns:jsf="http://xmlns.jcp.org/jsf"
      xmlns:pf="http://primefaces.org/ui">
<h:head>
    <title>Notes taken, Traces left</title>
    <style>
        .notes-card {
            display: flex;
            flex-direction: column;
            margin: 5px; border-style: solid;
            border-width: 2px;
            border-radius: 10px;
        }
        .notes-card-title {
            flex: 0 0 1px;
            font-weight: bold;
            padding-left: 5px;
            padding-right: 5px;
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
        }
        .notes-card-footer {
            flex: 0 0 1px;
            padding-left: 5px;
            scroll-padding-right: 5px;
            padding-bottom: 5px;
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
        }
        .ui-chips input {
            padding: 5px;
            width: 100px;
        }
        .ui-card {
            border-style: solid;
            border-width: 3px;
            border-radius: 5px;
            border-color: blue;
            background-color: lightblue;
            padding: 5px;
            width: 300px;
            height: 200px;
        }
        .ui-chip-text {
            padding-right: 5px;
        }
        .ui-chip {
            border-radius: 10px;
            background-color: blue;
            color: white;
            margin-left: 5px;
            margin-right: 5px;
            padding-right: 5px;
            padding-left: 5px;
        }
        textarea {
            resize: none;
        }
    </style>
</h:head>
<h:body style="max-width: 1200px; margin: auto;">
    <div style="display: flex; justify-content:center">
        <div>
        <span style="font-size: xx-large">Notes taken, Traces left</span>
        (<c:choose>
            <c:when test="${overview.hasWritePermission()}"><h:outputText value="#{overview.user}"/></c:when>
            <c:otherwise><a href="login-servlet">login</a></c:otherwise>
        </c:choose>)
        </div>
    </div>
    <div style="display: flex; flex-direction: column;">
        <c:forEach var="note" items="#{overview.notes}">
            <c:choose>
            <c:when test="${overview.isEditing(note.id)}">
                <ui:include src="edit-note.xhtml">
                    <ui:param name="editedNote" value="#{overview.editedNote}" />
                </ui:include>
            </c:when>
            <c:otherwise>
                <ui:include src="display-note.xhtml">
                    <ui:param name="note" value="#{note}" />
                </ui:include>
            </c:otherwise>
        </c:choose>
        </c:forEach>
        <c:if test="${overview.getShowNewNote()}">
            <ui:include src="edit-note.xhtml">
                <ui:param name="editedNote" value="#{overview.editedNote}" />
            </ui:include>
        </c:if>
    </div>
    <pf:confirmDialog global="true" showEffect="fade" hideEffect="fade">
        <pf:commandButton value="Yes" type="button" styleClass="ui-confirmdialog-yes" icon="pi pi-check" />
        <pf:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="pi pi-times" />
    </pf:confirmDialog>
</h:body>
</html>